[submodule "shared"]
	path = shared
	url = ./shared
[submodule "backend"]
	path = backend
	url = ./backend
[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "redact-crypto"]
	path = redact-crypto
	url = ./redact-crypto
[submodule "redact-store"]
	path = redact-store
	url = ./redact-store
