[submodule "shared"]
	path = shared
	url = ./shared
[submodule "backend"]
	path = backend
	url = ./backend
[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "redact-store"]
	path = redact-store
	url = https://github.com/pauwels-labs/redact-store
[submodule "redact-client"]
	path = redact-client
	url = https://github.com/pauwels-labs/redact-client
